@model PersonalAccountant.Web.PAEntity.ExpenseHistory

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ExpenseHistory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExpenseCategoryID" class="control-label"></label>
                <select asp-for="ExpenseCategoryID" class ="form-control" asp-items="ViewBag.ExpenseCategoryID"></select>
            </div>
            <div class="form-group">
                <label asp-for="AccountsID" class="control-label"></label>
                <select asp-for="AccountsID" class ="form-control" asp-items="ViewBag.AccountsID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" autocomplete="off"/>
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input type="text" name="Date" class="datepicker form-control" readonly />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

