

<ul class="sidebar-menu" data-widget="tree">
    <li>
        <a href="/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
    </li>
    <li>
        <a href="/Accounts"><i class="fa fa-circle-o text-aqua"></i> <span>Accounts</span></a>
    </li>
    <li>
        <a href="/IncomeHistories"><i class="fa fa-circle-o text-green"></i> <span>Add Income</span></a>
    </li>
    <li>
        <a href="/ExpenseHistories"><i class="fa fa-circle-o text-red"></i> <span>Add Expense</span></a>
    </li>



    <li class="treeview">
        <a href="#">
            <i class="fa fa-wrench"></i> <span>Settings</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">

            <li>
                <a href="/IncomeCategories"><i class="fa fa-circle-o text-green"></i> <span>Income Category</span></a>
            </li>
            <li>
                <a href="/ExpenseCategories"><i class="fa fa-circle-o text-red"></i> <span>Expense Category</span></a>
            </li>
            <li>
                <a href="/LoanInfoes"><i class="fa fa-circle-o text-warning"></i> <span>Loan Info</span></a>
            </li>
        </ul>
    </li>

</ul>